.profile-header {
    display: flex;
    gap: 0;
    padding: 0;
}

.profile-page {
    display: grid;
    align-items: center;
    justify-items: center;
}

.profile-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    padding: var(--space-sm);   
}

.profile-picture-container {
    display: flex;
    padding: var(--space-sm) 0;
    align-items: center;
    justify-content: space-between;
}
.picture-container {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}
#profile-picture {
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: var(--light-green);
}

.button-container {
    display: flex;
    gap: var(--space-xs);
}
.button-container > * {
    border: none;
    color: black;
    padding: var(--space-sm);
    background-color: var(--light-green);
    border-radius: var(--space-xs);
    align-content: center;
    min-height: 56.86px; 
    /* Min-height important otherwise the height will be change between pages due to the icon */
}
.profile-cancel-button {
    background-color: var(--light-red);
}

.profile-form,
.profile-data-container {
    padding: var(--space-sm);   
    background-color: var(--light-green);
    border-radius: var(--space-sm);
}

.profile-fieldset {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-input {
    font-size: 16px;
    color: var(--grey);
    border: solid 2px white; 
    padding: var(--space-xs);
}

.profile-fieldset > :nth-child(1),
.data-child-container > :nth-child(1) {
    padding: var(--space-xs);
}
.username-value,
.user-motivation-value {
    color: var(--grey);
    background-color: white;
    padding: var(--space-xs);
    border-radius: var(--space-xs);
    border: solid 2px white; 
}

.profile-form > *,
.profile-data-container > * {
    padding: var(--space-sm);
}

/* Mobile styling */
@media (max-width: 570px) {
  .profile-picture-container {
    flex-direction: column;
    gap: var(--space-sm);
    align-items: start;
  }
  
  .button-container {
    justify-content: center;
  }
  .picture-container {
    gap: var(--space-sm);
    flex-direction: column;
  }
  .picture-container,
  .button-container {
    width: 100%;
  }
}