# .env example file to list all required required variables

# join the following to the url to ensure compatibility with the pg library used in the project
DATABASE_URL= url + &uselibpqcompat=true

PORT=3000
FMP_API_KEY=