*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --green: #11D473;
  --light-green: #C7F0DC;
  --light-white: #f2fbf6;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

/* TODO: target the #root after finishing with html pseudocode*/
body {
  min-height: 100vh;
  padding: var(--space-md);

  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--light-white);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm);
  gap: var(--space-sm);

  border-bottom: solid 2px var(--green);
}

.icon-title-container {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
.website-icon {
  color: var(--green);
}

nav {
  display: flex;
  gap: var(--space-lg);
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.nav-link-active {
  color: var(--green);
}

.profile-link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--light-green);
}
.profile-picture {
  object-fit: contain;
}


main {
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  gap: var(--space-md);
}
.main-heading-section {
  padding: var(--space-lg) 0;
}

.performance-metrics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-lg);
}
.metric-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 75%;

  background-color: aliceblue;
}

.graphic-metrics-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.trade-results-graphic {
  grid-row: 1 / span 2 ;
  grid-column: 1;
}

.side-metric-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}