*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
}

html {
  font-family: "Nunito Sans", sans-serif;
}

/* TODO: target the #root after finishing with html pseudocode*/
body {
  min-height: 100vh;
  padding: var(--space-md);

  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm);
  gap: var(--space-sm);

  background-color: rgb(225, 81, 81);
}

nav {
  display: flex;
  gap: var(--space-lg);
}

main {
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  gap: var(--space-md);
}
.main-heading-section {
  padding: var(--space-lg) 0;
}

.performance-metrics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-lg);
}
.metric-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  width: 75%;

  background-color: aliceblue;
}

.graphic-metrics-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.trade-results-graphic {
  grid-row: 1 / span 2 ;
  grid-column: 1;
}

.side-metric-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}